p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #FFF;
    color: #434455;
}

.header-container {
    max-width: 1210px;
    padding-left: 115px;
    padding-right: 115px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-page,
.logotype-link {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4D5AE5;
}

.container-hero {
    max-width: ;
    padding-left: ;
    padding-right: ;
    margin-left: ;
    margin-right: ;
}

.container-advantages {
    max-width: ;
    padding-left: ;
    padding-right: ;
    margin-left: ;
    margin-right: ;
}

.container-our-team {
    max-width: ;
    padding-left: ;
    padding-right: ;
    margin-left: ;
    margin-right: ;
}

.container-our-portfolio {
    max-width: ;
    padding-left: ;
    padding-right: ;
    margin-left: ;
    margin-right: ;
}

.container-footer {
    max-width: ;
    padding-left: ;
    padding-right: ;
    margin-left: ;
    margin-right: ;
}