p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #FFF;
    color: #434455;
}

.container {
    width: 1128px;
    padding-left: 156px;
    padding-right: 156px;
    margin: 0 auto;
}

.header {
    border-bottom: 1px solid #E7E9FC;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    padding-top: 25.5px;
    padding-bottom: 25.5px;
    padding-left: 156px;
    width: 44px;
    height: 21px;
}

.header-text {
    color: #2E2F42;
}

.header-list {
    display: flex;
    gap: 40px;
}

/*.header-item:not(:last-child) {
    margin-right: 40px;
}*/

.header-item-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #2E2F42;
}

.header-contact-list {
    display: flex;
    gap: 40px;
    padding-right: 156px;
}

/*.header-contact-item:not(:last-child) {
    margin-right: 40px;
}*/    

.header-container-item-link {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    padding-top: 24px;
    padding-bottom: 24px; 
    color: #434455;
}

.hero-page {
    background-color: #2E2F42;
    width: 1440px;
    height: 600px;
}

.hero-container {
    display: block;
    align-items: center;
    flex-shrink: 0;
}

.box {
    width: 496px;
    height: 120px;
}

.hero-title {
    font-family: "Roboto";
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07px;
    letter-spacing: 1.12p;
    color: #FFFFFF;
    padding-top: 188px;
    padding-bottom: 292px;
    padding-left: 472px;
    padding-right: 472px;
}

.hero-button-link {
    display: block;
    padding: 16px 32px;
}

.box,
.hero-button-link {
    padding-left: 636px;
    padding-top: ;
    padding-bottom: ;
}


.container-hero {
   
}

.container-advantages {
   
}

.container-our-team {
   
}

.container-our-portfolio {
    
}

.container-footer {
   
}